/*Syntax Reset CSS*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Style*/
body {
    font: 17px/29px 'poppins', sans-serif;
    background: #1a1a1a;
    color: #f7f7f7;
}
.topBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #616161;
    border-bottom: 3px solid #f7f7f7;
    z-index: 9999;
}
.container {
    width: 960px;
    margin: 80px auto;
    background-color: #93deff;
    position: relative;
}
.ribbon {
    width: 200px;
    height: 200px;
    background-image: url(assets/twitter.png);
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    top: -22px;
    right: -27px;
}
.header {
    padding: 15px;
    padding-bottom: 10px;
}
.header .judul {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
}
.nav li {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}
.nav a {
    text-decoration: none;
    color: #f7f7f7;
    padding: 2px;
}
.nav a:hover {
    background-color: #616571;
    color: #93deff;
}
.hero {
    height: 350px;
    background-image: url(assets/hero.jpg);
    background-size: cover;
    background-position: 0 -773px;
    border-top: 5px #616571 solid;
    border-bottom: 5px #616161 solid;
}
.main {
    width: 600px;
    padding: 15px;
    box-sizing: border-box;
    float: left;
    color: #f7f7f7;
}
.main h2 {
    font-size: 25px;
    font-weight: 600;
}
.main .penulis {
    font-size: 14px;
    margin-top: -5px;
} 
.main .penulis a {
    text-decoration: none;
    color: #f7f7f7;
}
.main .penulis a:hover {
    color: #93deff;
    background-color: #616571;
}
.main p{
    margin-bottom: 8px;
    font-size: 18px;
    color: #616571;
}
.sideBar {
    width: 300px;
    float: right;
    padding: 15px;
}
.sideBar h3 {
    font-weight: 600;
}
.sideBar img {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
}
.sideBar p {
    color: #616571;
    font-size: 14px;
    line-height: 25px;
}
.footer {
    background-color: #616571;
    padding: 10px;
}
.footer .copy {
    color: #f7f7f7;
    text-align: center;
    font-size: 14px;
}


/* clearfix */
.cf:before,
.cf:after {
        content: " "; /* 1 */
        display: table; /* 2 */
}
.cf:after {
        clear: both;
}
.cf {
        *zoom: 1;
}